ci:
    autofix_prs: false
    autoupdate_schedule: weekly
    autoupdate_commit_msg: 'chore(deps): pre-commit autoupdate'

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: \.changes/.*\.md
    -   id: trailing-whitespace

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
    -   id: ruff
    -   id: ruff-format

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
    -   id: mypy
        additional_dependencies:
        -   aiosqlite
        -   fastapi
        -   httpx
        -   pydantic
        -   pytest
        -   pytest-asyncio
        -   sqlalchemy
        -   types-aiofiles
        -   types-PyYAML
        args:
        -   --enable-incomplete-feature=NewGenericSyntax

-   repo: https://github.com/pre-commit/pre-commit
    rev: v3.8.0
    hooks:
    -   id: validate_manifest

-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.10.7
    hooks:
    -   id: tach
