ci:
    autofix_prs: false
    autoupdate_schedule: weekly
    autoupdate_commit_msg: 'chore(deps): pre-commit autoupdate'

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
    -   id: check-toml
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: \.changes/.*\.md
    -   id: trailing-whitespace

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.5
    hooks:
    -   id: ruff
        args:
        - --fix
        - --show-fixes
    -   id: ruff-format

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
    -   id: mypy
        additional_dependencies:
        -   aiosqlite
        -   fastapi
        -   httpx
        -   pydantic
        -   pytest
        -   pytest-asyncio
        -   sqlalchemy
        -   types-PyYAML

-   repo: https://github.com/pre-commit/pre-commit
    rev: v4.0.1
    hooks:
    -   id: validate_manifest

-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.19.2
    hooks:
    -   id: tach

-   repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.12.1
    hooks:
    -   id: typos
