[tool.poetry]
name = "hub-api"
version = "0.1.0"
description = ""
authors = ["Edgar Ramírez Mondragón <edgarrm358@gmail.com>"]
readme = "README.md"
packages = [{include = "app"}]

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.85.0"
aiosqlite = "^0.17.0"
uvicorn = "^0.18.3"
aiofiles = "^22.1.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-asyncio = "^0.19.0"
requests = "^2.28.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
