name: pre-commit

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}
  schedule:
    # Weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=pre-commit
  PRE_COMMIT_VERSION: "4.2.0"
  # renovate: datasource=pypi depName=pre-commit-uv
  PRE_COMMIT_UV_VERSION: "4.1.4"
  # renovate: datasource=pypi depName=uv
  UV_VERSION: "0.8.8"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-24.04
    continue-on-error: false
    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
    - uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
      with:
        version: ${{ env.UV_VERSION }}
    - run: >
        uv tool install
        --with pre-commit-uv==${{ env.PRE_COMMIT_UV_VERSION }}
        --with pre-commit==${{ env.PRE_COMMIT_VERSION }}
        pre-commit
    - run: pre-commit run --all-files
