name: pre-commit

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}
  schedule:
    # Weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=pre-commit
  PRE_COMMIT_VERSION: "4.2.0"
  # renovate: datasource=pypi depName=pre-commit-uv
  PRE_COMMIT_UV_VERSION: "4.1.4"
  # renovate: datasource=pypi depName=uv
  UV_VERSION: "0.8.11"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-24.04
    continue-on-error: false
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
    - uses: astral-sh/setup-uv@d9e0f98d3fc6adb07d1e3d37f3043649ddad06a1 # v6.5.0
      with:
        version: ${{ env.UV_VERSION }}
    - run: >
        uv tool install
        --with pre-commit-uv==${{ env.PRE_COMMIT_UV_VERSION }}
        --with pre-commit==${{ env.PRE_COMMIT_VERSION }}
        pre-commit
    - run: pre-commit run --all-files
