name: Tests

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      git-ref:
        description: Meltano Hub commit SHA, branch, or tag
        required: false
        default: main
  schedule:
    # Weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=offat
  OFFAT_VERSION: "0.19.4"
  # renovate: datasource=pypi depName=schemathesis
  SCHEMATHESIS_VERSION: "4.0.13"
  # renovate: datasource=pypi depName=uv
  UV_VERSION: "0.8.3"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-hub-data:
    name: Get Hub Data
    runs-on: ubuntu-24.04
    continue-on-error: false
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
    - uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
      with:
        version: ${{ env.UV_VERSION }}
    - run: uv run python -I build.py --git-ref ${{ github.event.inputs.git-ref || 'main' }} --exit-zero >> _errors.md
      id: build
      env:
        ONLY_GROUP: build
    - uses: peter-evans/find-comment@3eae4d37986fb5a8592848f6a574fdf654e61f9e # v3.1.0
      if: ${{ github.event_name == 'pull_request' }}
      id: find-comment
      with:
        issue-number: ${{ github.event.pull_request.number }}
        comment-author: 'github-actions[bot]'
        body-includes: Build Errors
    - uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
      if: ${{ github.event_name == 'pull_request' }}
      with:
        body-path: _errors.md
        comment-id: ${{ steps.find-comment.outputs.comment-id }}
        edit-mode: replace
        issue-number: ${{ github.event.pull_request.number }}
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: hub-data
        path: plugins.db

  tests:
    name: Test
    runs-on: ubuntu-24.04
    continue-on-error: false
    needs: [get-hub-data]
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
    - uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
      with:
        version: ${{ env.UV_VERSION }}
    - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
      with:
        name: hub-data
    - run: uv run coverage run -m pytest -v
      continue-on-error: true # Continue on error to combine coverage.
      env:
        ONLY_GROUP: tests
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        include-hidden-files: true
        name: coverage
        path: .coverage.*

  typing:
    name: Type Checking
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
    - uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
      with:
        version: ${{ env.UV_VERSION }}
    - run: uv run mypy src tests
      env:
        ONLY_GROUP: typing

  schemathesis:
    name: Schemathesis Test
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Start containers
      run: docker compose up -d --build
    - uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
      with:
        version: ${{ env.UV_VERSION }}
    - run: >
        uvx --from schemathesis==${{ env.SCHEMATHESIS_VERSION }}
        st run
        --header 'User-Agent: schemathesis/${{ env.SCHEMATHESIS_VERSION }}'
        http://127.0.0.1:8080/openapi.json
    - uses: mikepenz/action-junit-report@3585e9575db828022551b4231f165eb59a0e74e3 # v5.6.2
      if: success() || failure() # always run even if the previous step fails
      with:
        comment: true
        detailed_summary: true
        include_passed: true
        report_paths: junit.xml
    - name: Stop containers
      if: always()
      run: docker compose down

  owasp:
    name: OWASP OFFAT
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Start containers
      run: docker compose up -d --build
    - uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
      with:
        version: ${{ env.UV_VERSION }}
    - run: >
        uvx --with offat==${{ env.OFFAT_VERSION }}
        offat
        --server http://127.0.0.1:8080
        --file http://127.0.0.1:8080/openapi.json
        --rate-limit 120
        --capture-failed
        --headers 'User-Agent: offat/${{ env.OFFAT_VERSION }}'
        --format json
        --output ./offat-tmp/results.json
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: offat-results.json
        path: ./offat-tmp/results.json
        # retention period docs: https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration#artifact-and-log-retention-policy
        retention-days: 2

    - name: Stop containers
      if: always()
      run: docker compose down

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    continue-on-error: false
    needs: [tests]
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
      with:
        name: coverage
    - uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
      with:
        version: ${{ env.UV_VERSION }}
    - name: Combine coverage
      env:
        ONLY_GROUP: tests
      run: |
        uv run coverage combine
        uv run coverage html --skip-covered --skip-empty

        # Report and write to summary.
        uv run coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

        # Report again and fail if under 100%.
        uv run coverage report --fail-under=100 --show-missing
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: failure()
      with:
        name: html-report
        path: htmlcov
