name: Tests

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}
jobs:
  tests:
    name: Test
    runs-on: ubuntu-22.04
    continue-on-error: false
    env:
      FORCE_COLOR: "1"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v4.1.7
    - name: Setup Python
      uses: actions/setup-python@v5.1.1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64

    - name: Upgrade pip
      env:
        PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        pip install pip
        pip --version

    - name: Install Poetry
      env:
        PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        pipx install poetry
        poetry --version

    - name: Check out the Meltano Hub repository
      uses: actions/checkout@v4.1.7
      with:
        repository: meltano/hub
        ref: main
        path: meltano-hub

    - name: Build the database
      run: |
        poetry install
        poetry run python -I build.py meltano-hub/_data

    - name: Run Pytest
      run: |
        poetry run pytest
