name: Tests

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}
  schedule:
    # Weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

jobs:
  tests:
    name: Test
    runs-on: ubuntu-24.04
    continue-on-error: false
    env:
      FORCE_COLOR: "1"

    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - name: Setup Python
      uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1
      with:
        python-version: 3.12
        architecture: x64
    - uses: hynek/setup-cached-uv@4b4bfa932036976749a9653b0fa4fa10b1a7092b # v2.1.0
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        repository: meltano/hub
        ref: main
        path: meltano-hub
    - run: uv run python -I build.py meltano-hub/_data
    - run: uv run pytest
