name: Tests

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}
jobs:
  tests:
    name: Test
    runs-on: ubuntu-22.04
    continue-on-error: false
    env:
      FORCE_COLOR: "1"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
    - name: Check out the repository
      uses: actions/checkout@v3.2.0

    - name: Setup Python
      uses: actions/setup-python@v4.3.0
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64

    - name: Upgrade pip
      env:
        PIP_CONSTRAINT: .github/workflows/constraints.txt
      run: |
        pip install pip
        pip --version

    - name: Install Poetry
      env:
        PIP_CONSTRAINT: .github/workflows/constraints.txt
      run: |
        pipx install poetry
        poetry --version

    - name: Run Pytest
      run: |
        poetry install
        poetry run pytest
