name: Tests

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}
  schedule:
    # Weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=offat
  OFFAT_VERSION: "0.19.3"
  # renovate: datasource=pypi depName=schemathesis
  SCHEMATHESIS_VERSION: "3.39.10"
  # renovate: datasource=pypi depName=uv
  UV_VERSION: "0.6.3"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-hub-data:
    name: Get Hub Data
    runs-on: ubuntu-24.04
    continue-on-error: false
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
    - uses: astral-sh/setup-uv@f94ec6bedd8674c4426838e6b50417d36b6ab231 # v5.3.1
      with:
        version: ${{ env.UV_VERSION }}
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        repository: meltano/hub
        ref: main
        path: meltano-hub
    - run: uv run python -I build.py meltano-hub/_data
      env:
        ONLY_GROUP: build
    - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
      with:
        name: hub-data
        path: plugins.db

  tests:
    name: Test
    runs-on: ubuntu-24.04
    continue-on-error: false
    needs: [get-hub-data]
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
    - uses: astral-sh/setup-uv@f94ec6bedd8674c4426838e6b50417d36b6ab231 # v5.3.1
      with:
        version: ${{ env.UV_VERSION }}
    - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      with:
        name: hub-data
    - run: uv run coverage run -m pytest -v
      continue-on-error: true # Continue on error to combine coverage.
      env:
        ONLY_GROUP: tests
    - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
      with:
        include-hidden-files: true
        name: coverage
        path: .coverage.*

  typing:
    name: Type Checking
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
    - uses: astral-sh/setup-uv@f94ec6bedd8674c4426838e6b50417d36b6ab231 # v5.3.1
      with:
        version: ${{ env.UV_VERSION }}
    - run: uv run mypy src tests
      env:
        ONLY_GROUP: typing

  schemathesis:
    name: Schemathesis Test
    runs-on: ubuntu-24.04
    needs: [get-hub-data]
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      with:
        name: hub-data
    - name: Start containers
      run: docker compose up -d --build
    - uses: schemathesis/action@e8c36caf1285d9c955e282cf71793837f92308a4 # v1.0.4
      with:
        schema: 'http://127.0.0.1:8000/openapi.json'
        base-url: http://127.0.0.1:8000
        api-name: meltano-hub-api
        report: 'false'
        args: '--experimental=openapi-3.1 --junit-xml=junit.xml'
        version: ${{ env.SCHEMATHESIS_VERSION }}
    - uses: mikepenz/action-junit-report@b14027d33d3a745ccc4d6a12f649e83110b5a373 # v5.4.0
      if: success() || failure() # always run even if the previous step fails
      with:
        include_passed: true
        report_paths: junit.xml
    - name: Stop containers
      if: always()
      run: docker compose down

  owasp:
    name: OWASP OFFAT
    runs-on: ubuntu-24.04
    needs: [get-hub-data]
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      with:
        name: hub-data
    - name: Start containers
      run: docker compose up -d --build
    - uses: astral-sh/setup-uv@f94ec6bedd8674c4426838e6b50417d36b6ab231 # v5.3.1
      with:
        version: ${{ env.UV_VERSION }}
    - run: >
        uvx --with offat==${{ env.OFFAT_VERSION }}
        offat
        --file http://127.0.0.1:8000/openapi.json
        --rate-limit 120
        --capture-failed
        --headers 'User-Agent: offat/${{ env.OFFAT_VERSION }}'
        --format json
        --output ./offat-tmp/results.json
    - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
      with:
        name: offat-results.json
        path: ./offat-tmp/results.json
        # retention period docs: https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration#artifact-and-log-retention-policy
        retention-days: 2

    - name: Stop containers
      if: always()
      run: docker compose down

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    continue-on-error: false
    needs: [tests]
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      with:
        name: coverage
    - uses: astral-sh/setup-uv@f94ec6bedd8674c4426838e6b50417d36b6ab231 # v5.3.1
      with:
        version: ${{ env.UV_VERSION }}
    - name: Combine coverage
      env:
        ONLY_GROUP: tests
      run: |
        uv run coverage combine
        uv run coverage html --skip-covered --skip-empty

        # Report and write to summary.
        uv run coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

        # Report again and fail if under 100%.
        uv run coverage report --fail-under=100 --show-missing
    - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
      if: failure()
      with:
        name: html-report
        path: htmlcov
